<h1>$|Title|$</h1>
<h4>你使用的是星空主题</h4>

Hello $|NAME|$, Your Email is $|EMAIL|$, Subject is $|SUBJECT|$

下面是测试链接
<ul>
<li><a href="$|link_url1|$" target="blank">$|link_name1|$</a></li>
<li><a href="$|link_url2|$" target="blank">$|link_name2|$</a></li>
<li><a href="$|link_url3|$" target="blank">$|link_name3|$</a></li>
</ul>


<br/>
<br/>
<br/>
<hr/>
@intfocus