<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>This is just a test Email</h1>
    <p>Just ignore this</p>
  </body>
</html>
