<h1>邮件打开</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Campaign</th>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.member_id %></td>
    <td><%= track.campaign_id %></td>
  </tr>
<% end %>
</table>

<br />
