<div id="templates_title" style="margin-bottom: 20px">
  <h1 style="display:inline">Templates</h1>
  <div style="float:right">
    <%= link_to 'Add a Template', new_template_path, :class => 'btn', remote: true %>
  </div>
</div>
<div id="templates_form">
</div>
<div id="templates_info">
  <%= render @templates %>
</div>

